**Data Cleaning**

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**fighter-database cleaning**

In [49]:
df = pd.read_csv("draft-data/fighter-database.csv")
df.head(5)

,id,name,nickname,height,weight,reach,dob,ss_min,str_acc,str_a_min,str_def,td_avg,td_acc,td_def,sub_avg,wins,losses,wl_diff,momentum
0,ba5c6eeb8ef45f5c,Levi Avera,NaN,"6'1""",170.0,NaN,1982,0.00,0,0.00,0,.0.00,0,0,..0.0,0,1,-1,-1
1,e76d9f656ceb82ab,Alexandra Albu,Stitch,"5'2""",115.0,63.0,1990,5.26,51,5.01,41,.3.18,55,81,..0.6,2,0,2,2
2,73ef22f25d0f70e2,Romie Aram,NaN,"5'10""",170.0,NaN,1977,1.80,35,2.83,50,.2.50,62,83,..0.0,1,1,0,-1
3,8738eacd62e82a32,Matt Andersen,NaN,"6'2""",230.0,NaN,1971,0.00,0,0.00,0,.0.00,0,0,..0.0,0,1,-1,-1
4,e06fd1260ac865a7,Yoji Anjo,Mr. 200%,"5'11""",205.0,NaN,1967,0.00,0,3.13,25,.0.00,0,0,..0.0,0,4,-4,-4

In [50]:
df.describe()

,weight,reach,ss_min,str_acc,str_a_min,str_def,td_acc,td_def,wins,losses,wl_diff,momentum
count,3101.000000,1482.000000,3177.000000,3177.000000,3177.000000,3177.000000,3177.000000,3177.000000,3177.000000,3177.000000,3177.000000,3177.000000
mean,174.385037,71.837382,2.155980,33.106075,2.801177,41.811143,25.630154,36.570349,2.133144,2.133144,0.000000,-0.823104
std,40.444108,4.121042,2.005879,21.020435,2.680832,23.978860,29.540842,34.725799,3.845025,2.310901,2.739417,1.569806
min,105.000000,60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.000000,-7.000000
25%,145.000000,69.000000,0.530000,20.000000,1.130000,32.000000,0.000000,0.000000,0.000000,1.000000,-1.000000,-2.000000
50%,170.000000,72.000000,2.000000,38.000000,2.600000,50.000000,18.000000,37.000000,1.000000,1.000000,-1.000000,-1.000000
75%,185.000000,75.000000,3.250000,47.000000,3.780000,59.000000,45.000000,66.000000,2.000000,3.000000,0.000000,0.000000
max,770.000000,84.000000,30.000000,100.000000,49.410000,100.000000,100.000000,100.000000,31.000000,16.000000,24.000000,13.000000

In [51]:
df.apply(lambda x: sum(x.isnull()), axis = 0)

id              0
name            0
nickname     1477
height        259
weight         76
reach        1695
dob             0
ss_min          0
str_acc         0
str_a_min       0
str_def         0
td_avg          0
td_acc          0
td_def          0
sub_avg         0
wins            0
losses          0
wl_diff         0
momentum        0
dtype: int64

In [52]:
#drop all rows with missing weight and height
for i in range(0, len(df)):
    if df['weight'].isnull()[i]:
        df = df.drop(index = i)
df = df.reset_index()
for i in range(0, len(df)):
    if df['height'].isnull()[i]:
        df = df.drop(index = i)
df = df.reset_index()

In [53]:
#replace missing reach values based on weight
avg_reach = df.pivot_table(values = 'reach', index ='weight')
for i in range(0, len(df)):
    if df['reach'].isnull()[i]:
        if df.loc[i, 'weight'] in range(0,116):
            df.loc[i, 'reach'] = avg_reach['reach'][115]
        if df.loc[i, 'weight'] in range(116,126):
            df.loc[i, 'reach'] = avg_reach['reach'][125]
        if df.loc[i, 'weight'] in range(126,136):
            df.loc[i, 'reach'] = avg_reach['reach'][135]
        if df.loc[i, 'weight'] in range(136,146):
            df.loc[i, 'reach'] = avg_reach['reach'][145]
        if df.loc[i, 'weight'] in range(146,156):
            df.loc[i, 'reach'] = avg_reach['reach'][155]
        if df.loc[i, 'weight'] in range(156,171):
            df.loc[i, 'reach'] = avg_reach['reach'][170]
        if df.loc[i, 'weight'] in range(171,186):
            df.loc[i, 'reach'] = avg_reach['reach'][185]
        if df.loc[i, 'weight'] in range(186,206):
            df.loc[i, 'reach'] = avg_reach['reach'][205]
        else:
            df.loc[i, 'reach'] = avg_reach['reach'][225]

In [54]:
#change heights into inches
import re
for i in range(0, len(df['height'])):
    if df['height'].isnull()[i] != True:
        df.loc[i, 'height'] = re.sub("[\'\"]", "", str(df.loc[i, 'height']))
for i in range(0, len(df['height'])):
    if df['height'].isnull()[i] != True:
        height1 = int(str(df.loc[i, 'height'])[0])*12
        height2 = int(str(df.loc[i, 'height'])[1:])
        total = height1 + height2
        df.loc[i, 'height'] = total

In [55]:
miss_bool = df['height'].isnull()
df.loc[miss_bool != True, 'height'] = df.loc[miss_bool != True, 'height'].apply(lambda x: float(x))

In [56]:
last_name = [x.split(' ')[-1] for x in df['name']]
df['last_name'] = last_name
df = df.sort_values('last_name')
df = df.drop(columns = ["nickname", "last_name", "level_0", "index"])

In [57]:
#fix td_avg and sub_avg values
df['td_avg'] = df['td_avg'].apply(lambda x: float(x[1:]))
df['sub_avg'] = df['sub_avg'].apply(lambda x: float(x[2:]))

In [58]:
for i in range(0, len(df)):
    if any(df.loc[i, 'ss_min'] == x for x in [0, 30]):
        df = df.drop(index = i)
df = df.reset_index()
for i in range(0, len(df)):
    if any(df.loc[i, 'str_acc'] == x for x in [0, 100]):
        df = df.drop(index = i)
df = df.reset_index()
for i in range(0, len(df)):
    if any(df.loc[i, 'str_a_min'] == x for x in [0, 49.41]):
        df = df.drop(index = i)
df = df.reset_index(drop = True)
for i in range(0, len(df)):
    if any(df.loc[i, 'str_def'] == x for x in [0, 100]):
        df = df.drop(index = i)
df = df.reset_index(drop = True)

In [59]:
df = df.drop(columns = ['level_0', 'index', 'dob'])

**elo-cleaning**

In [73]:
elo = pd.read_csv("draft-data/elo2.csv")
elo.head(5)

,name,ELO_x,prevdate,Best_Rating_to_Date,Avg_Elo_of_opponets,frFX
0,Georges St-Pierre,1991.87,11/4/2017 2:38,1991.87,1484.15,28
1,Daniel Cormier,1957.22,11/3/2018 0:00,1957.22,1515.48,24
2,Jon Jones,1919.88,7/29/2017 2:52,1926.56,1438.10,24
3,Gegard Mousasi,1880.79,9/29/2018 0:00,1880.79,1326.82,54
4,Tyron Woodley,1878.25,9/8/2018 0:00,1878.25,1426.07,25

In [61]:
a = list(elo['name'])
b = list(df['name'])

In [62]:
for i in range(0, len(a)):
    if a[i] not in b:
        elo = elo.drop(index = i)
        print(i)
elo = elo.reset_index(drop = True)

In [63]:
elo.apply(lambda x: sum(x.isnull()), axis = 0)

name                   0
ELO_x                  0
prevdate               0
Best_Rating_to_Date    0
Avg_Elo_of_opponets    0
frFX                   0
dtype: int64

In [68]:
ids = []
for i in range(0, len(elo)):
    current_fighter = elo.loc[i, 'name']
    for n in range(0, len(fighters)):
        if fighters.loc[n, 'name'] == current_fighter:
            ids.append(fighters.loc[n, 'id'])
            fighters.loc[n, 'elo'] = elo.loc[i, 'ELO_x']
            fighters.loc[n, 'best_elo'] = elo.loc[i, 'Best_Rating_to_Date']
            fighters.loc[n, 'avg_opp_elo'] = elo.loc[i, 'Avg_Elo_of_opponets']
            elo.loc[i, 'id'] = fighters.loc[n, 'id']
            print(fighters.loc[n, 'name'] + ' ' + fighters.loc[n, 'id'])

NameError: name 'fighters' is not defined

In [70]:
elo.to_csv('draft-data/elo-clean.csv')

In [72]:
fighters = fighters.dropna(axis = 0)
fighters.to_csv("draft-data/fighter-database-clean.csv")

NameError: name 'fighters' is not defined

In [1]:
def expected_score(ratingA, ratingB, player):
    '''player must be A or B'''
    if player == 'A':
        return 1/(1+10**((ratingB-ratingA)/400))
    else:
        return 1/(1+10**((ratingA-ratingB)/400))

def update_elo(ratingA, ratingB, player, outcome):
    '''outcome True for win, False otherwise'''
    if outcome:
        return ratingA + 32*(1 - expected_score(ratingA, ratingB, player))
    else:
        return ratingA + 32*(0 - expected_score(ratingA, ratingB, player))

In [ ]:
headings = ['id','name','id_opp','name_opp','event_id','event_name','elo','elo_opp','height_diff','reach_diff','ss_min_diff','str_acc_diff', 
            'str_a_min_diff','str_def_diff','td_avg_diff','td_acc_diff','td_def_diff','sub_avg_diff', 
            'wins_diff','losses_diff','momentum_diff','wl_diff_diff','outcome']
comp = pd.DataFrame.from_records([], columns = headings)

In [2]:
start_elo = 750

In [ ]:
elos = {}
for i in range(len(fights)-1, 0, -1):
    print(i)
    ID = fights.loc[i, 'f1_id']
    name = fights.loc[i, 'f1_name']
    id_opp = fights.loc[i, 'f2_id']
    name_opp = fights.loc[i, 'f2_name']
    event_id = fights.loc[i, 'event_id']
    event_name = fights.loc[i, 'event_name']
    f1_data = fighters.loc[fighters['id'] == ID]
    f2_data = fighters.loc[fighters['id'] == id_opp]
    
    # determine current elo rating
    if ID not in list(comp['id']):
        elo = start_elo
    elif ID in elos.keys():
        elo = elos[ID]
    if id_opp not in list(comp['id'].append(comp['id_opp'])):
        elo_opp = start_elo
    elif id_opp in elos.keys():
        elo_opp = elos[id_opp]
    height_diff = f1_data['height'].values[0] - f2_data['height'].values[0]
    reach_diff = f1_data['reach'].values[0] - f2_data['reach'].values[0]
    ss_min_diff = f1_data['ss_min'].values[0] - f2_data['ss_min'].values[0]
    str_acc_diff = f1_data['str_acc'].values[0] - f2_data['str_acc'].values[0]
    str_a_min_diff = f1_data['str_a_min'].values[0] - f2_data['str_a_min'].values[0]
    str_def_diff = f1_data['str_def'].values[0] - f2_data['str_def'].values[0]
    td_avg_diff = f1_data['td_avg'].values[0] - f2_data['td_avg'].values[0]
    td_acc_diff = f1_data['td_acc'].values[0] - f2_data['td_acc'].values[0]
    td_def_diff = f1_data['td_def'].values[0] - f2_data['td_def'].values[0]
    sub_avg_diff = f1_data['sub_avg'].values[0] - f2_data['sub_avg'].values[0]
    wins_diff = f1_data['wins'].values[0] - f2_data['wins'].values[0]
    losses_diff = f1_data['losses'].values[0] - f2_data['losses'].values[0]
    momentum_diff = f1_data['momentum'].values[0] - f2_data['momentum'].values[0]
    wl_diff_diff = f1_data['wl_diff'].values[0] - f2_data['wl_diff'].values[0]
    if fights.loc[i, 'winner_id'] == ID:
        outcome = 'W'
        elos[ID] = update_elo(elo, elo_opp, 'A', True)
    else:
        outcome = 'L'
        elos[ID] = update_elo(elo, elo_opp, 'A', False)
    comp = comp.append([{'id':ID,'name':name,'id_opp':id_opp,'name_opp':name_opp,'event_id':event_id,'event_name':event_name,
                         'elo':elo,'elo_opp':elo_opp, 'height_diff':height_diff,'reach_diff':reach_diff,
                         'ss_min_diff':ss_min_diff,'str_acc_diff':str_acc_diff,'str_a_min_diff':str_a_min_diff,
                         'str_def_diff':str_def_diff,'td_avg_diff':td_avg_diff,'td_acc_diff':td_acc_diff,
                         'td_def_diff':td_def_diff,'sub_avg_diff':sub_avg_diff,'wins_diff':wins_diff,
                         'losses_diff':losses_diff,'momentum_diff':momentum_diff, 'wl_diff_diff':wl_diff_diff,'outcome':outcome}], 
                       ignore_index = True)
    comp = comp.append([{'id':id_opp,'name':name_opp,'id_opp':ID,'name_opp':name,'event_id':event_id,'event_name':event_name,
                         'elo':elo_opp,'elo_opp':elo, 'height_diff':-height_diff,'reach_diff':-reach_diff,
                         'ss_min_diff':-ss_min_diff,'str_acc_diff':-str_acc_diff,'str_a_min_diff':-str_a_min_diff,
                         'str_def_diff':-str_def_diff,'td_avg_diff':-td_avg_diff,'td_acc_diff':-td_acc_diff,
                         'td_def_diff':-td_def_diff,'sub_avg_diff':-sub_avg_diff,'wins_diff':-wins_diff,
                         'losses_diff':-losses_diff,'momentum_diff':-momentum_diff, 'wl_diff_diff':-wl_diff_diff,'outcome':'W' if outcome == 'L' else 'L'}],
                      ignore_index = True)

In [ ]:
comp['elo'] = comp.elo.astype(float)
comp['elo_opp'] = comp.elo_opp.astype(float)
comp['height_diff'] = comp.height_diff.astype(float)
comp['str_acc_diff'] = comp.str_acc_diff.astype(float)
comp['str_def_diff'] = comp.str_def_diff.astype(float)
comp['td_acc_diff'] = comp.td_acc_diff.astype(float)
comp['td_def_diff'] = comp.td_def_diff.astype(float)
comp['wins_diff'] = comp.wins_diff.astype(float)
comp['losses_diff'] = comp.losses_diff.astype(float)
comp['momentum_diff'] = comp.momentum_diff.astype(float)
comp['wl_diff_diff'] = comp.wl_diff_diff.astype(float)
comp['outcome'] = comp['outcome'].apply(lambda x: (1 if x == 'W' else 0))