**TODO:**
- fill misisng values in weight, reach (drop rows with missing weight)
- convert height to just inches
- drop extra decimals from td_avg, sub_avg

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
df = pd.read_csv("data/fighter-database.csv")
df.head(20)

,id,name,nickname,height,weight,reach,dob,ss_min,str_acc,str_a_min,str_def,td_avg,td_acc,td_def,sub_avg,wins,losses,wl_diff,momentum
0,ba5c6eeb8ef45f5c,Levi Avera,NaN,"6'1""",170.0,NaN,1982,0.00,0,0.00,0,.0.00,0,0,..0.0,0,1,-1,-1
1,e76d9f656ceb82ab,Alexandra Albu,Stitch,"5'2""",115.0,63.0,1990,5.26,51,5.01,41,.3.18,55,81,..0.6,2,0,2,2
2,73ef22f25d0f70e2,Romie Aram,NaN,"5'10""",170.0,NaN,1977,1.80,35,2.83,50,.2.50,62,83,..0.0,1,1,0,-1
3,8738eacd62e82a32,Matt Andersen,NaN,"6'2""",230.0,NaN,1971,0.00,0,0.00,0,.0.00,0,0,..0.0,0,1,-1,-1
4,e06fd1260ac865a7,Yoji Anjo,Mr. 200%,"5'11""",205.0,NaN,1967,0.00,0,3.13,25,.0.00,0,0,..0.0,0,4,-4,-4
5,c4fe2e9a06ea5bcb,Benny Alloway,Blanco,"5'11""",170.0,75.0,1981,1.28,49,1.90,59,.0.62,50,26,..0.0,1,2,-1,-2
6,71002dbc1743b9a7,Felipe Arantes,Sertanejo,"5'8""",135.0,73.0,1988,2.37,45,2.66,64,.0.93,47,41,..0.7,5,6,-1,-3
7,67a992d4cff22466,Ericka Almeida,NaN,"5'6""",115.0,68.0,1989,1.07,39,3.33,43,.0.50,33,37,..0.0,0,2,-2,-2
8,0e9869d712e81f8f,Sam Adkins,The Experience,"6'3""",225.0,NaN,1965,0.00,0,0.00,0,.0.00,0,0,..0.0,2,2,0,-1
9,d562b12b8fe88336,JJ Ambrose,NaN,"5'10""",170.0,NaN,--,3.16,69,6.32,33,.0.00,0,50,..0.0,0,1,-1,-1
10,0b31f87be71ebbb1,Ben Askren,Funky,"5'10""",170.0,NaN,1984,0.00,0,0.00,0,.0.00,0,0,..0.0,0,0,0,1
11,8753e125f4499816,Blas Avena,The Disciple,"6'0""",170.0,74.0,1983,2.34,47,3.36,43,.2.37,80,50,..1.8,3,3,0,-1
12,578ef12674df1e6a,Irene Aldana,NaN,"5'9""",135.0,68.0,1988,6.35,43,7.08,61,.0.50,50,95,..0.0,2,2,0,2
13,8fd76e1b49c00ae2,Kenneth Alexander,The Machine,"5'9""",155.0,NaN,1977,0.88,19,2.20,66,.4.71,26,0,..0.0,0,1,-1,-1
14,c136b2a8852da5bd,Akbarh Arreola,El Caballero,"5'10""",155.0,71.0,1983,2.32,45,4.01,56,.1.07,100,33,..0.4,1,3,-2,-2
15,770b9d4813c25902,Chalid Arrab,Die Faust,"5'11""",205.0,NaN,1975,1.56,34,1.63,56,.3.05,75,37,..1.0,1,1,0,-1
16,c487223b0289bda9,Hector Aldana,El Charro,"5'11""",170.0,72.0,1988,4.00,43,3.28,54,.3.08,100,0,..0.0,0,2,-2,-2
17,033d19259f589457,Anthony Avila,NaN,"5'7""",145.0,NaN,1988,0.00,0,0.00,0,.0.00,0,0,..0.0,1,0,1,1
18,f16ddfa31236efed,Estefani Almeida,NaN,"5'4""",125.0,NaN,1988,3.13,37,6.07,42,.0.00,0,0,..0.0,0,0,0,0
19,2dea80c069847321,Gilles Arsene,NaN,"5'9""",190.0,NaN,--,0.06,10,2.45,32,.0.00,0,0,..0.0,0,1,-1,-1

In [24]:
df.describe()

,weight,reach,ss_min,str_acc,str_a_min,str_def,td_acc,td_def,wins,losses,wl_diff,momentum
count,3101.000000,1482.000000,3177.000000,3177.000000,3177.000000,3177.000000,3177.000000,3177.000000,3177.000000,3177.000000,3177.000000,3177.000000
mean,174.385037,71.837382,2.155980,33.106075,2.801177,41.811143,25.630154,36.570349,2.133144,2.133144,0.000000,-0.823104
std,40.444108,4.121042,2.005879,21.020435,2.680832,23.978860,29.540842,34.725799,3.845025,2.310901,2.739417,1.569806
min,105.000000,60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.000000,-7.000000
25%,145.000000,69.000000,0.530000,20.000000,1.130000,32.000000,0.000000,0.000000,0.000000,1.000000,-1.000000,-2.000000
50%,170.000000,72.000000,2.000000,38.000000,2.600000,50.000000,18.000000,37.000000,1.000000,1.000000,-1.000000,-1.000000
75%,185.000000,75.000000,3.250000,47.000000,3.780000,59.000000,45.000000,66.000000,2.000000,3.000000,0.000000,0.000000
max,770.000000,84.000000,30.000000,100.000000,49.410000,100.000000,100.000000,100.000000,31.000000,16.000000,24.000000,13.000000

In [25]:
df.apply(lambda x: sum(x.isnull()), axis = 0)

id              0
name            0
nickname     1477
height        259
weight         76
reach        1695
dob             0
ss_min          0
str_acc         0
str_a_min       0
str_def         0
td_avg          0
td_acc          0
td_def          0
sub_avg         0
wins            0
losses          0
wl_diff         0
momentum        0
dtype: int64

In [26]:
#drop all rows with missing weight and height
for i in range(0, len(df)):
    if df['weight'].isnull()[i]:
        df = df.drop(index = i)
df = df.reset_index()
for i in range(0, len(df)):
    if df['height'].isnull()[i]:
        df = df.drop(index = i)
df = df.reset_index()

In [27]:
#replace missing reach values based on weight
avg_reach = df.pivot_table(values = 'reach', index ='weight')
for i in range(0, len(df)):
    if df['reach'].isnull()[i]:
        if df.loc[i, 'weight'] in range(0,116):
            df.loc[i, 'reach'] = avg_reach['reach'][115]
        if df.loc[i, 'weight'] in range(116,126):
            df.loc[i, 'reach'] = avg_reach['reach'][125]
        if df.loc[i, 'weight'] in range(126,136):
            df.loc[i, 'reach'] = avg_reach['reach'][135]
        if df.loc[i, 'weight'] in range(136,146):
            df.loc[i, 'reach'] = avg_reach['reach'][145]
        if df.loc[i, 'weight'] in range(146,156):
            df.loc[i, 'reach'] = avg_reach['reach'][155]
        if df.loc[i, 'weight'] in range(156,171):
            df.loc[i, 'reach'] = avg_reach['reach'][170]
        if df.loc[i, 'weight'] in range(171,186):
            df.loc[i, 'reach'] = avg_reach['reach'][185]
        if df.loc[i, 'weight'] in range(186,206):
            df.loc[i, 'reach'] = avg_reach['reach'][205]
        else:
            df.loc[i, 'reach'] = avg_reach['reach'][225]

In [28]:
df.apply(lambda x: sum(x.isnull()), axis = 0)

level_0         0
index           0
id              0
name            0
nickname     1235
height          0
weight          0
reach           0
dob             0
ss_min          0
str_acc         0
str_a_min       0
str_def         0
td_avg          0
td_acc          0
td_def          0
sub_avg         0
wins            0
losses          0
wl_diff         0
momentum        0
dtype: int64

In [29]:
#change heights into inches
import re
for i in range(0, len(df['height'])):
    if df['height'].isnull()[i] != True:
        df.loc[i, 'height'] = re.sub("[\'\"]", "", str(df.loc[i, 'height']))
for i in range(0, len(df['height'])):
    if df['height'].isnull()[i] != True:
        height1 = int(str(df.loc[i, 'height'])[0])*12
        height2 = int(str(df.loc[i, 'height'])[1:])
        total = height1 + height2
        df.loc[i, 'height'] = total

In [30]:
miss_bool = df['height'].isnull()
df.loc[miss_bool != True, 'height'] = df.loc[miss_bool != True, 'height'].apply(lambda x: float(x))

In [31]:
last_name = [x.split(' ')[-1] for x in df['name']]
df['last_name'] = last_name
df = df.sort_values('last_name')
df = df.drop(columns = ["nickname", "last_name", "level_0", "index"])

In [32]:
#fix td_avg and sub_avg values
df['td_avg'] = df['td_avg'].apply(lambda x: float(x[1:]))
df['sub_avg'] = df['sub_avg'].apply(lambda x: float(x[2:]))

In [33]:
df.describe()

,height,weight,reach,ss_min,str_acc,str_a_min,str_def,td_avg,td_acc,td_def,sub_avg,wins,losses,wl_diff,momentum
count,2912.000000,2912.000000,2912.000000,2912.00000,2912.000000,2912.000000,2912.000000,2912.000000,2912.000000,2912.000000,2912.000000,2912.000000,2912.000000,2912.000000,2912.000000
mean,70.386676,174.712569,73.455553,2.30557,35.328640,2.958225,44.498970,1.246497,27.469093,39.327953,0.696738,2.299451,2.267170,0.032280,-0.861264
std,3.400578,41.085772,3.375654,1.99067,19.842618,2.661894,22.220654,1.828073,29.665797,34.412025,1.603506,3.970818,2.360949,2.845076,1.610037
min,60.000000,105.000000,60.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.000000,-7.000000
25%,68.000000,145.000000,72.000000,0.86750,27.000000,1.577500,37.750000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,-1.000000,-2.000000
50%,70.000000,170.000000,75.000000,2.16500,40.000000,2.700000,51.000000,0.630000,25.000000,42.000000,0.000000,1.000000,2.000000,-1.000000,-1.000000
75%,73.000000,185.250000,75.000000,3.35000,48.000000,3.852500,59.000000,2.000000,47.000000,66.000000,0.900000,3.000000,3.000000,1.000000,0.000000
max,89.000000,770.000000,84.000000,30.00000,100.000000,49.410000,100.000000,32.140000,100.000000,100.000000,21.900000,31.000000,16.000000,24.000000,13.000000

In [34]:
for i in range(0, len(df)):
    if any(df.loc[i, 'ss_min'] == x for x in [0, 30]):
        df = df.drop(index = i)
df = df.reset_index()
for i in range(0, len(df)):
    if any(df.loc[i, 'str_acc'] == x for x in [0, 100]):
        df = df.drop(index = i)
df = df.reset_index()
for i in range(0, len(df)):
    if any(df.loc[i, 'str_a_min'] == x for x in [0, 49.41]):
        df = df.drop(index = i)
df = df.reset_index(drop = True)
for i in range(0, len(df)):
    if any(df.loc[i, 'str_def'] == x for x in [0, 100]):
        df = df.drop(index = i)
df = df.reset_index(drop = True)

In [35]:
df = df.drop(columns = ['level_0', 'index', 'dob'])

In [36]:
df.head(10)

,id,name,height,weight,reach,ss_min,str_acc,str_a_min,str_def,td_avg,td_acc,td_def,sub_avg,wins,losses,wl_diff,momentum
0,15df64c02b6b0fde,Danny Abbadi,71.0,155.0,75.0,3.29,38,4.41,57,0.00,0,77,0.0,0,2,-2,-2
1,b361180739bed4b0,David Abbott,72.0,265.0,75.0,1.35,30,3.55,38,1.07,33,66,0.0,8,13,-5,-7
2,2f5cbecbbe18bac4,Shamil Abdurakhimov,75.0,235.0,76.0,2.44,45,2.24,60,1.50,26,66,0.2,4,2,2,2
3,c0ed7b208197e8de,Hiroyuki Abe,66.0,145.0,75.0,1.71,36,3.11,63,0.00,0,33,0.0,0,1,-1,0
4,5140122c3eecd307,Daichi Abe,71.0,170.0,71.0,3.80,33,4.49,56,0.33,50,0,0.0,1,2,-1,-2
5,c9f6385af6df66d7,Papy Abedi,71.0,185.0,74.0,2.80,55,3.15,48,3.47,57,50,1.3,1,3,-2,-1
6,aa6e591c2a2cdecd,Ricardo Abreu,71.0,185.0,73.0,3.79,31,3.98,68,2.13,42,100,0.7,1,1,0,-1
7,1c5879330d42255f,Daniel Acacio,68.0,180.0,75.0,3.52,36,2.85,62,0.33,20,81,0.0,2,2,0,-2
8,a77633a989013265,Anthony Adams,72.0,185.0,77.0,3.40,47,5.60,44,0.00,0,0,0.0,0,0,0,0
9,83b00f7597e5ac83,Juan Adams,77.0,265.0,81.0,13.31,78,1.40,57,0.00,0,100,0.0,0,0,0,1

In [37]:
df.describe()

,height,weight,reach,ss_min,str_acc,str_a_min,str_def,td_avg,td_acc,td_def,sub_avg,wins,losses,wl_diff,momentum
count,2373.000000,2373.000000,2373.000000,2373.000000,2373.000000,2373.000000,2373.000000,2373.000000,2373.000000,2373.000000,2373.000000,2373.000000,2373.000000,2373.00000,2373.000000
mean,70.319427,171.188369,73.088195,2.783649,42.235145,3.414867,52.770333,1.480072,33.164349,47.388538,0.766456,2.738306,2.597556,0.14075,-0.950274
std,3.430709,37.519229,3.618587,1.763544,11.800241,2.153092,11.737895,1.775584,29.282798,32.194653,1.425442,4.258930,2.474718,3.10639,1.707800
min,60.000000,105.000000,60.000000,0.060000,4.000000,0.130000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.00000,-7.000000
25%,68.000000,145.000000,71.000000,1.620000,35.000000,2.160000,46.000000,0.000000,0.000000,22.000000,0.000000,0.000000,1.000000,-2.00000,-2.000000
50%,70.000000,170.000000,75.000000,2.570000,42.000000,3.000000,54.000000,1.000000,33.000000,50.000000,0.300000,1.000000,2.000000,-1.00000,-1.000000
75%,73.000000,185.000000,75.000000,3.570000,50.000000,4.060000,61.000000,2.230000,50.000000,71.000000,1.000000,4.000000,3.000000,1.00000,0.000000
max,89.000000,400.000000,84.000000,24.470000,87.000000,30.000000,94.000000,24.110000,100.000000,100.000000,20.900000,31.000000,16.000000,24.00000,13.000000