**TODO:**
- fill misisng values in weight, reach (drop rows with missing weight)
- convert height to just inches
- drop extra decimals from td_avg, sub_avg

In [106]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [107]:
df = pd.read_csv("fighter-database.csv")
df.head(20)

,id,name,nickname,height,weight,reach,dob,ss_min,str_acc,str_a_min,str_def,td_avg,td_acc,td_def,sub_avg,wins,losses,wl_diff,momentum
0,1,Veta Arteaga,NaN,"5'7""",125.0,NaN,--,3.20,36,1.92,65,.0.00,0,40,..0.0,0,0,0,0
1,2,Hiroyuki Abe,Abe Ani,"5'6""",145.0,NaN,--,1.71,36,3.11,63,.0.00,0,33,..0.0,0,1,-1,0
2,3,Warlley Alves,NaN,"5'11""",170.0,72.0,1991,2.88,46,4.09,49,.1.22,44,80,..0.9,6,3,3,-1
3,4,Kenji Arai,NaN,"5'10""",145.0,NaN,1979,8.79,27,10.29,39,.0.00,0,0,..0.0,0,1,-1,-1
4,5,Pablo Alfonso,The Hurricane,"5'8""",145.0,NaN,1983,0.00,0,0.00,0,.0.00,0,0,..0.0,1,0,1,1
5,6,Corey Anderson,Overtime,"6'3""",205.0,79.0,1989,4.55,47,2.20,59,.5.48,52,75,..0.0,8,4,4,1
6,7,JJ Ambrose,NaN,"5'10""",170.0,NaN,--,3.16,69,6.32,33,.0.00,0,50,..0.0,0,1,-1,-1
7,8,Scott Askham,NaN,"6'3""",185.0,75.0,1988,3.03,46,3.52,52,.0.44,18,65,..0.7,2,4,-2,-2
8,9,Israel Adesanya,The Last Stylebender,"6'4""",185.0,80.0,1989,4.51,55,2.08,71,.0.00,0,85,..0.3,4,0,4,4
9,10,Scott Adams,NaN,"6'0""",225.0,NaN,--,0.00,0,0.00,0,.0.00,0,0,..0.0,1,0,1,1
10,11,Hitomi Akano,Girlfight Monster,"5'4""",135.0,NaN,1974,0.59,45,2.58,55,.0.00,0,8,..0.5,1,3,-2,-1
11,12,Megan Anderson,NaN,"6'0""",145.0,73.0,1990,1.73,44,3.13,33,.0.00,0,50,..0.0,0,1,-1,1
12,13,Cyril Asker,Silverback,"6'0""",247.0,74.0,1985,3.35,39,5.82,35,.4.41,62,100,..0.9,2,3,-1,-1
13,14,John Alessio,The Natural,"5'10""",155.0,72.0,1979,1.87,35,2.46,57,.1.78,36,72,..1.0,5,8,-3,-4
14,15,Angelo Antonio,NaN,NaN,205.0,NaN,--,1.09,50,7.64,50,.0.00,0,0,..0.0,0,1,-1,-1
15,16,Luciano Azevedo,NaN,"6'3""",161.0,NaN,1981,0.76,45,1.97,27,.2.28,11,0,..0.0,0,1,-1,-1
16,17,Juan Alcain,NaN,NaN,NaN,NaN,--,0.00,0,0.00,0,.0.00,0,0,..0.0,1,0,1,1
17,18,Thomas Almeida,Thominhas,"5'7""",135.0,70.0,1991,5.66,45,4.65,64,.0.00,0,75,..0.0,5,3,2,-2
18,19,Chris Avila,NaN,"5'10""",145.0,72.0,1993,2.37,30,4.17,48,.0.00,0,46,..0.0,0,2,-2,-2
19,20,Antonio Arroyo,NaN,"6'2""",185.0,NaN,1989,3.27,70,2.53,42,.4.00,36,0,..0.0,0,0,0,0

In [108]:
df.describe()

,id,weight,reach,ss_min,str_acc,str_a_min,str_def,td_acc,td_def,wins,losses,wl_diff,momentum
count,3176.000000,3100.000000,1480.000000,3176.000000,3176.000000,3176.000000,3176.000000,3176.000000,3176.000000,3176.000000,3176.000000,3176.000000,3176.000000
mean,1589.437657,174.391613,71.838514,2.156659,33.116499,2.802059,41.824307,25.638224,36.581864,2.130038,2.130038,0.000000,-0.821788
std,917.077845,40.433360,4.123549,2.005830,21.015532,2.680793,23.971150,29.541991,34.725201,3.843608,2.310080,2.738929,1.558430
min,1.000000,105.000000,60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-9.000000,-7.000000
25%,795.750000,145.000000,69.000000,0.530000,20.000000,1.137500,32.000000,0.000000,0.000000,0.000000,1.000000,-1.000000,-2.000000
50%,1589.500000,170.000000,72.000000,2.000000,38.000000,2.600000,50.000000,18.000000,37.000000,1.000000,1.000000,-1.000000,-1.000000
75%,2383.250000,185.000000,75.000000,3.250000,47.000000,3.780000,59.000000,45.000000,66.000000,2.000000,3.000000,0.000000,0.000000
max,3177.000000,770.000000,84.000000,30.000000,100.000000,49.410000,100.000000,100.000000,100.000000,31.000000,16.000000,24.000000,13.000000

In [109]:
df.apply(lambda x: sum(x.isnull()), axis = 0)

id              0
name            0
nickname     1477
height        259
weight         76
reach        1696
dob             0
ss_min          0
str_acc         0
str_a_min       0
str_def         0
td_avg          0
td_acc          0
td_def          0
sub_avg         0
wins            0
losses          0
wl_diff         0
momentum        0
dtype: int64

In [110]:
#drop all rows with missing weight
for i in range(0, len(df)):
    if df['weight'].isnull()[i]:
        df = df.drop(index = i)
df = df.reset_index()

In [111]:
#fill missing reach values based on weight
avg_reach = df.pivot_table(values = 'reach', index ='weight')
avg_reach

            reach
weight
115.0   64.586207
125.0   66.660870
135.0   68.351648
139.0   68.000000
145.0   70.157303
155.0   71.478088
168.0   70.000000
170.0   73.313653
185.0   74.802139
205.0   75.904762
225.0   75.000000
230.0   74.714286
231.0   77.000000
234.0   77.000000
235.0   74.000000
238.0   77.000000
240.0   77.461538
241.0   75.000000
242.0   75.400000
243.0   73.500000
245.0   77.300000
247.0   74.250000
249.0   76.500000
250.0   78.916667
251.0   77.000000
253.0   74.000000
255.0   76.333333
258.0   76.000000
260.0   78.125000
263.0   72.000000
264.0   77.200000
265.0   78.782609

In [112]:
#miss_bool = df['reach'].isnull()
#try:
#    df.loc[miss_bool, 'reach'] = df.loc[miss_bool, 'weight'].apply(lambda x: 
#                                                                   avg_reach['reach'][x])
#except KeyError:
    
#print('Final missing : ' + str(sum(df['reach'].isnull())))

IndentationError: unexpected indent (<ipython-input-112-e2c9edd344bf>, line 4)

In [114]:
df.head(20)

,index,id,name,nickname,height,weight,reach,dob,ss_min,str_acc,str_a_min,str_def,td_avg,td_acc,td_def,sub_avg,wins,losses,wl_diff,momentum
0,0,1,Veta Arteaga,NaN,"5'7""",125.0,NaN,--,3.20,36,1.92,65,.0.00,0,40,..0.0,0,0,0,0
1,1,2,Hiroyuki Abe,Abe Ani,"5'6""",145.0,NaN,--,1.71,36,3.11,63,.0.00,0,33,..0.0,0,1,-1,0
2,2,3,Warlley Alves,NaN,"5'11""",170.0,72.0,1991,2.88,46,4.09,49,.1.22,44,80,..0.9,6,3,3,-1
3,3,4,Kenji Arai,NaN,"5'10""",145.0,NaN,1979,8.79,27,10.29,39,.0.00,0,0,..0.0,0,1,-1,-1
4,4,5,Pablo Alfonso,The Hurricane,"5'8""",145.0,NaN,1983,0.00,0,0.00,0,.0.00,0,0,..0.0,1,0,1,1
5,5,6,Corey Anderson,Overtime,"6'3""",205.0,79.0,1989,4.55,47,2.20,59,.5.48,52,75,..0.0,8,4,4,1
6,6,7,JJ Ambrose,NaN,"5'10""",170.0,NaN,--,3.16,69,6.32,33,.0.00,0,50,..0.0,0,1,-1,-1
7,7,8,Scott Askham,NaN,"6'3""",185.0,75.0,1988,3.03,46,3.52,52,.0.44,18,65,..0.7,2,4,-2,-2
8,8,9,Israel Adesanya,The Last Stylebender,"6'4""",185.0,80.0,1989,4.51,55,2.08,71,.0.00,0,85,..0.3,4,0,4,4
9,9,10,Scott Adams,NaN,"6'0""",225.0,NaN,--,0.00,0,0.00,0,.0.00,0,0,..0.0,1,0,1,1
10,10,11,Hitomi Akano,Girlfight Monster,"5'4""",135.0,NaN,1974,0.59,45,2.58,55,.0.00,0,8,..0.5,1,3,-2,-1
11,11,12,Megan Anderson,NaN,"6'0""",145.0,73.0,1990,1.73,44,3.13,33,.0.00,0,50,..0.0,0,1,-1,1
12,12,13,Cyril Asker,Silverback,"6'0""",247.0,74.0,1985,3.35,39,5.82,35,.4.41,62,100,..0.9,2,3,-1,-1
13,13,14,John Alessio,The Natural,"5'10""",155.0,72.0,1979,1.87,35,2.46,57,.1.78,36,72,..1.0,5,8,-3,-4
14,14,15,Angelo Antonio,NaN,NaN,205.0,NaN,--,1.09,50,7.64,50,.0.00,0,0,..0.0,0,1,-1,-1
15,15,16,Luciano Azevedo,NaN,"6'3""",161.0,NaN,1981,0.76,45,1.97,27,.2.28,11,0,..0.0,0,1,-1,-1
16,17,18,Thomas Almeida,Thominhas,"5'7""",135.0,70.0,1991,5.66,45,4.65,64,.0.00,0,75,..0.0,5,3,2,-2
17,18,19,Chris Avila,NaN,"5'10""",145.0,72.0,1993,2.37,30,4.17,48,.0.00,0,46,..0.0,0,2,-2,-2
18,19,20,Antonio Arroyo,NaN,"6'2""",185.0,NaN,1989,3.27,70,2.53,42,.4.00,36,0,..0.0,0,0,0,0
19,20,21,Abu Azaitar,Gladiator,"5'9""",185.0,76.0,1986,3.20,37,1.27,57,.1.00,100,25,..0.0,1,0,1,1

In [115]:
#replace missing reach values based on weight
for i in range(0, len(df)):
    if df['reach'].isnull()[i]:
        if df.loc[i, 'weight'] in range(0,116):
            df.loc[i, 'reach'] = avg_reach['reach'][115]
        if df.loc[i, 'weight'] in range(116,126):
            df.loc[i, 'reach'] = avg_reach['reach'][125]
        if df.loc[i, 'weight'] in range(126,136):
            df.loc[i, 'reach'] = avg_reach['reach'][135]
        if df.loc[i, 'weight'] in range(136,146):
            df.loc[i, 'reach'] = avg_reach['reach'][145]
        if df.loc[i, 'weight'] in range(146,156):
            df.loc[i, 'reach'] = avg_reach['reach'][155]
        if df.loc[i, 'weight'] in range(156,171):
            df.loc[i, 'reach'] = avg_reach['reach'][170]
        if df.loc[i, 'weight'] in range(171,186):
            df.loc[i, 'reach'] = avg_reach['reach'][185]
        if df.loc[i, 'weight'] in range(186,206):
            df.loc[i, 'reach'] = avg_reach['reach'][205]
        else:
            df.loc[i, 'reach'] = avg_reach['reach'][225]

In [116]:
df.apply(lambda x: sum(x.isnull()), axis = 0)

index           0
id              0
name            0
nickname     1404
height        189
weight          0
reach           0
dob             0
ss_min          0
str_acc         0
str_a_min       0
str_def         0
td_avg          0
td_acc          0
td_def          0
sub_avg         0
wins            0
losses          0
wl_diff         0
momentum        0
dtype: int64

In [117]:
df['height'].value_counts()

6'0"     364
5'9"     315
5'10"    304
5'11"    304
6'1"     255
5'8"     245
5'7"     209
6'2"     208
5'6"     175
6'3"     162
5'5"      96
6'4"      78
5'4"      63
5'3"      35
6'5"      34
6'6"      16
5'2"      11
6'7"      10
5'1"       9
6'8"       8
6'11"      3
6'10"      3
5'0"       2
7'2"       1
7'5"       1
Name: height, dtype: int64